body {
  background: $color-mint;
  background: linear-gradient(to bottom right, #FFFBED, #007679);
  // padding: 25px;
  color: $font-green;

  h4 {
    font-size: 5em;
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: bold;
  }
}

#header {
  padding: 25px 0 5vh;

  .navig {
    ul {
      display: flex;
      justify-content: flex-end;

      li {
        float: none;
        width: 75px;
        text-align: center;
        padding: 5px;

        &:hover {
          background: #002946;
          color: white;
          border-radius: 2px;
          transition: all 2s;
        }
      }
    }
  }

  h1 {
    padding: 250px 0;
    font-family: $font-fancy;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
  }
}

#skills {
  background: #002946;
  color: white;
  padding: 20vh 0;

  img {
    height: 110px;
    // margin: 5px 100px;
  }

  h4 {

  }

  p {
    margin-bottom: 35px;
  }

  .skills-container {
    display: flex;
    justify-content: space-between;
    .git {
      background: white;
      border-radius: 50%;
    }
  }
}

#portfolio {
  background: #FFAE19;
  padding: 20vh 0;

  h4 {
    color: #333;
  }

  img {
    height: 250px;
  }
}

#foot {
  background: #333;
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  padding-bottom: 25px;

  h4 {
    color: white;
  }

  .social-list {
    justify-content: flex-end;

    li {
      color: white;
      &:hover {
        color: black;
        transition: all 2s;
      }
    }
  }

  h5 {
    color: white;
  }

  p {
    color: white;
    background: white;
    display: inline;
  }
}

.social-list {
  display: flex;
  // justify-content: space-around;
  li {
    padding-right: 15px;
  }
}

.card {
  &:hover {
    transition: all 0.25s;
    position: relative;
    top: -2px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);

  }
}

@media only screen and (min-width: 993px) {
  .container {
      width: 80%;
  }
}
