body {
  background: $color-mint;
  background: linear-gradient(to bottom right, #FFFBED, #007679);
  color: $font-green;

  h4 {
    font-size: 2.5em;
    margin: 15px 0;
  }

  .badge {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: .75em;
    margin-left: 0;
    box-shadow: 0 1px 1px #666;

    &.html {
      background: red;
      color: white;
    }

    &.jquery {
      background: navy;
      color: white;
    }

    &.css {
      background: gold;
      color: #333;
    }

    &.node {
      background: green;
      color: white;
    }

    &.psql {
      background: #add8e6;
      color: #333;
    }

    &.aws {
      background: orange;
      color: white;
    }
  }
}

#header {
  padding: 25px 0 50vh;
  text-align: center;

  .navig {
    ul {
      display: flex;
      justify-content: flex-end;

      li {
        float: none;
        width: 75px;
        text-align: center;
        padding: 5px;
        transition: all 2s;
        margin: 0 10px;

        &:hover {
          background: #002946;
          border-radius: 5px;
          a {
            color: white;
          }
        }

        a {
          color: #333;
        }
      }
    }
  }

  h1 {
    padding: 250px 0 25px;
    font-family: $font-fancy;
    font-weight: bold;
    font-size: 3rem;
    text-align: center;

    a {
      color: #007679;
    }
  }

  .btn-go {
    margin-top: 55px;
  }

  .port-tooltip {
    position: relative;
    transition: all 2s;
  }

  .port-tooltip[data-tooltip]:before {
    position: absolute;
    width: auto;
    top: -71px;
    left: -8px;
    background-color: #333;
    color: #ffffff;
    line-height: 30px;
    border-radius: 2px;
    padding: 16px 15px;
    content: attr(data-tooltip);
    white-space: nowrap;
    opacity: 0;
    font-size: 20px;
    transition: opacity 0.75s ease-out;
  }
  .port-tooltip[data-tooltip]:after {
    position: absolute;
    left: 15px;
    top: -9px;
    border-top: 7px solid #333;
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    content: "";
    opacity: 0;
    transition: opacity 0.75s ease-out;
  }
  .port-tooltip[data-tooltip]:hover:after,
  .port-tooltip[data-tooltip]:hover:before {
      display: block;
      opacity: 1;
      transition: opacity 0.75s ease-out;
  }
}

#skills {
  background: #002946;
  color: white;
  padding: 20vh 0;

  img {
    height: 200px;
    margin: 5px 20px 5px 0
  }


  p {
    margin: 50px 0;
    font-size: 18px;
    line-height: 2;
  }

  .container {
    padding-top: 25px;
  }

  .skills-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;

    .git {
      background: white;
      border-radius: 50%;
    }

    img {
      &:hover {
        height: 225px;
        transition: height 0.25s ease-out;
      }
    }
  }

  .btn-see {
    margin: 75px auto;
    width: 175px;
    display: block;
  }
}

#portfolio {
  background: linear-gradient(to bottom, #002946, #FFAE19);
  padding: 20vh 0;

  h4 {
    color: white;
    padding-bottom: 10px;
  }

  .recent-description {
    color: #fafafa;
    padding-bottom: 50px;
    line-height: 2;
    font-size: 18px;
  }

  .card-image {
    overflow: hidden;
  }

  .not-card {
    margin-top: 10px;
    padding: 15px;
    background: linear-gradient(to bottom left, rgba(255,255,255,0.65), rgba(255,255,255,0.95));
    color: #333;
    border-radius: 3px;
  }

  .buttons {
    margin-top: 45px;

    .btn-flat {
      border: 1px solid #333;

      &:hover {
        background: #33A2FF !important;
        color: white;
        border: 1px solid #33A2FF;
        transition: all 1s;
      }
    }
  }

  .container {
    padding-top: 25px;
  }
}

#others {
  background: linear-gradient(to bottom, #FFAE19, purple);
  color: white;
  padding-top: 100px;
  padding-bottom: 50px;

  h4 {
    color: #333;
    margin-bottom: 125px;
    font-weight: bold;
  }

  img {
    max-height: 325px;
    border-radius: 5px;
    padding: 0 20px 10px 0;
  }

  .fscore {
    margin: 100px;
  }

  .skills-container {
    margin-top: 75px;
    padding-bottom: 75px;
    text-align: center
  }
}

#foot {
  background: linear-gradient(to bottom, maroon, black);
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  padding-bottom: 25px;

  h4 {
    color: white;
  }

  .social-list {
    justify-content: flex-end;

    li {
      color: white;

      a {
        &:hover {
          color: black;
          transition: all 2s;
        }
      }
    }
  }

  h5 {
    color: white;
  }

  p {
    color: white;
    display: inline;
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-size: .75em;

    &.captain {
      background: white;

    }
  }

  .top {
    background: maroon;
    color: white;
    border-radius: 5px;
    padding: 20px;
    margin-right: 10px;
    position: relative;
    right: 15px;
    bottom: 175px;
    transition: all 2s;
  }

  .container {
    background: linear-gradient(to bottom, maroon, black);
    padding: 8px;
  }
}

.social-list {
  display: flex;

  li {
    padding-right: 15px;
  }
}

.card {
  &:hover {
    transition: 0.25s all;
    position: relative;
    top: -2px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5);

  }
}

#contact {
  background: linear-gradient(to bottom, purple, maroon);

  .container {
    padding: 50px 5%;
    color: white;
    padding-bottom: 75px;
  }

  .button-container {
    text-align: center;
  }
}

@media only screen and (min-width: 993px) {
  .container {
      width: 80%;
  }
}

@media only screen and (max-width: 1200px) {
  #skills {
    .skills-container {
      justify-content: center;
    }
  }
  #others {
    h4 {
      font-size: 3.5em;
    }

    .skills-container {
      text-align: center;

      img {
        max-height: 275px;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  #skills {
    .skills-container {
      justify-content: center;
    }
  }
}

@media only screen and (max-width: 480px) {
  #header {
    h1 {
      padding: 75px 0;
    }
  }
  #skills {
    .skills-container {
      img {
        height: 100px;
      }
    }
  }

  #others {
    h4 {
      font-size: 3em;
    }
    img {
      width: 100%;
    }
  }
}
