nav {
  display: flex;
  background: none;
  box-shadow: none;
}

span.badge {
  float: none;
}

.card {
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;

  // .card-image {
  //   img {
  //     width: auto;
  //   }
  // }
}
