$color-mint: #fafafa;
$color-purp: #7F45A6;
$color-red: #fa5a5a;
$color-yellow: #ADA57C;
$font-green: #333;

@import url('https://fonts.googleapis.com/css?family=Oswald:300');

$font-fancy: 'Oswald', sans-serif;
