$color-mint: #E7F9F0;
$color-purp: #7F45A6;
$color-red: #fa5a5a;
$color-yellow: #ADA57C;
$font-green: #9D202F;

@import url('https://fonts.googleapis.com/css?family=Ubuntu');

$font-fancy: 'Ubuntu', sans-serif;
