@import url("https://fonts.googleapis.com/css?family=Oswald:300");
nav {
  display: flex;
  background: none;
  box-shadow: none; }

body {
  background: #fafafa;
  background: linear-gradient(to bottom right, #FFFBED, #007679);
  color: #333; }

#header {
  padding: 25px 0 5vh; }
  #header .navig ul {
    display: flex;
    justify-content: flex-end; }
    #header .navig ul li {
      float: none;
      width: 75px;
      text-align: center;
      padding: 5px; }
      #header .navig ul li:hover {
        background: #002946;
        color: white;
        border-radius: 2px;
        transition: all 2s; }
  #header h1 {
    padding: 250px 0;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center; }

#skills {
  background: #002946;
  color: white;
  padding: 20vh 0; }
  #skills img {
    height: 110px; }
  #skills h4 {
    margin: 15px 0;
    text-transform: uppercase;
    font-weight: bold; }
  #skills p {
    margin-bottom: 35px; }
  #skills .skills-container {
    display: flex;
    justify-content: space-between; }
    #skills .skills-container .git {
      background: white;
      border-radius: 50%; }

#portfolio .card .card-title {
  margin-bottom: 0; }

#portfolio .card small {
  display: block;
  margin-bottom: 8px; }

#foot {
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-flow: column; }
  #foot .social-list li {
    color: white; }
    #foot .social-list li:hover {
      color: black;
      transition: all 2s; }
  #foot h5 {
    color: white; }
  #foot p {
    color: white;
    background: white; }

.social-list {
  display: flex; }
  .social-list li {
    padding-right: 15px; }

.card:hover {
  transition: all 0.25s;
  position: relative;
  top: -2px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5); }

@media only screen and (min-width: 993px) {
  .container {
    width: 80%; } }
