@import url("https://fonts.googleapis.com/css?family=Oswald:300");
nav {
  display: flex;
  background: none;
  box-shadow: none; }

span.badge {
  float: none; }

.card {
  background: transparent;
  box-shadow: none;
  -webkit-box-shadow: none; }

body {
  background: #fafafa;
  background: linear-gradient(to bottom right, #FFFBED, #007679);
  color: #333; }
  body h4 {
    font-size: 2.5em;
    margin: 15px 0; }
  body .badge {
    border-radius: 10px;
    padding: 5px 10px;
    font-size: .75em;
    margin-left: 0;
    box-shadow: 0 1px 1px #666; }
    body .badge.html {
      background: red;
      color: white; }
    body .badge.jquery {
      background: navy;
      color: white; }
    body .badge.css {
      background: gold;
      color: #333; }
    body .badge.node {
      background: green;
      color: white; }
    body .badge.psql {
      background: #add8e6;
      color: #333; }
    body .badge.aws {
      background: orange;
      color: white; }

#header {
  padding: 25px 0 50vh;
  text-align: center; }
  #header .navig ul {
    display: flex;
    justify-content: flex-end; }
    #header .navig ul li {
      float: none;
      width: 75px;
      text-align: center;
      padding: 5px; }
      #header .navig ul li:hover {
        background: #002946;
        color: white;
        border-radius: 2px;
        transition: all 2s; }
  #header h1 {
    padding: 250px 0 25px;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    font-size: 3rem;
    text-align: center; }
  #header .btn-go {
    margin-top: 55px; }

#skills {
  background: #002946;
  color: white;
  padding: 20vh 0; }
  #skills img {
    height: 200px;
    margin: 5px 10px 5px 0; }
  #skills p {
    margin: 50px 0;
    font-size: 18px;
    line-height: 2; }
  #skills .container {
    padding-top: 25px; }
  #skills .skills-container {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap; }
    #skills .skills-container .git {
      background: white;
      border-radius: 50%; }
  #skills .btn-see {
    margin: 75px auto;
    width: 175px;
    display: block; }

#portfolio {
  background: linear-gradient(to bottom, #002946, #FFAE19);
  padding: 20vh 0; }
  #portfolio h4 {
    color: white;
    padding-bottom: 10px; }
  #portfolio img {
    height: 250px; }
  #portfolio .recent-description {
    color: #fafafa;
    padding-bottom: 50px;
    line-height: 2;
    font-size: 18px; }
  #portfolio .card-image {
    overflow: hidden;
    display: flex;
    justify-content: center; }
    #portfolio .card-image img {
      min-height: 300px; }
  #portfolio .not-card {
    margin-top: 10px;
    padding: 15px;
    background: white;
    color: #333; }
  #portfolio .buttons {
    margin-top: 45px; }
    #portfolio .buttons .btn-flat {
      border: 1px solid #333; }
      #portfolio .buttons .btn-flat:hover {
        background: #33A2FF !important;
        color: white;
        border: 1px solid #33A2FF;
        transition: all 1s; }
  #portfolio .container {
    padding-top: 25px; }

#others {
  background: purple;
  color: white;
  padding-top: 100px; }
  #others img {
    max-height: 325px;
    border-radius: 5px;
    padding: 0 20px 10px 0; }
  #others .fscore {
    margin: 100px; }
  #others .skills-container {
    margin-top: 75px;
    padding-bottom: 75px; }

#foot {
  background: #222;
  text-align: right;
  display: flex;
  align-items: flex-end;
  flex-flow: column;
  padding-bottom: 25px; }
  #foot h4 {
    color: white; }
  #foot .social-list {
    justify-content: flex-end; }
    #foot .social-list li {
      color: white; }
      #foot .social-list li a:hover {
        color: black;
        transition: all 2s; }
  #foot h5 {
    color: white; }
  #foot p {
    color: white;
    display: inline;
    display: flex;
    justify-content: center;
    flex-flow: column;
    font-size: .75em; }
    #foot p.captain {
      background: white; }

.social-list {
  display: flex; }
  .social-list li {
    padding-right: 15px; }

.card:hover {
  transition: all 0.25s;
  position: relative;
  top: -2px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.5); }

@media only screen and (min-width: 993px) {
  .container {
    width: 80%; } }

@media only screen and (max-width: 1024px) and (min-width: 768px) {
  #portfolio .card-image img {
    min-height: auto; } }

@media only screen and (max-width: 768px) {
  #others img {
    max-height: 300px; } }

@media only screen and (max-width: 480px) {
  #skills .skills-container {
    justify-content: center; }
    #skills .skills-container img {
      height: 100px; }
  #others img {
    width: 100%; } }
